<div id="<%= dom_id facility %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= facility.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= facility.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Score:</strong>
    <%= facility.score %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date of inspection:</strong>
    <%= facility.date_of_inspection %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this facility", facility, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this facility', edit_facility_path(facility), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
